
//colors
$text-main-color: #212121;
$text-color: #757575;
$text-invert-color: #FFFFFF;
$no-text-link-color: #AFB1B8;
$background-main-color: #FFFFFF;
$background-second-color: #F5F4FA;
$background-invert-color: #2F303A;
$active-main-color: #2196F3;
$logo-one-color: #2196F3;
$logo-two-color: #000000;
$logo-two-invert-color: #FFFFFF;

//fonts
$font-logo: 'Raleway', sans-serif;
$font-main: 'Roboto', 'Verdana', 'Tahoma', sans-serif;




